.app_header{
  height: 60px;
  display: flex;
  flex-direction: row;

  padding: 0 16px;
  transition: padding-left 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}
.buttons{
 
}


@media (min-width: 768px) {
  .app_header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .app_header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1170px) {
  .app_header {
    padding: 0px;
  }
}


