@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-Regular'),
    url(../src/fonts/Nunito-Regular.ttf) format('truetype');
    font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Nunito-Regular';
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}

html {
  scroll-behavior: smooth;
}




